<?php
header("Expires: Sun, 26 Jul 2015 05:00:00 GMT");
?>
<!DOCTYPE html>
<html>
 	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=7,IE=9" />
	    <link rel="stylesheet" href="https://js.arcgis.com/3.20/esri/css/esri.css" />
	    <link rel="stylesheet" href="https://js.arcgis.com/3.20/dijit/themes/claro/claro.css"/>
	    <link rel="stylesheet" href="./css/new-style.css" />
	    <link rel="stylesheet" href="./css/style-dijit.css" />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	    <link rel="stylesheet" type="text/css" href="./agd/css/agd.css" />
	    <!--link rel="stylesheet" type="text/css" href="./agd/infoWindow.css"/ -->

 	</head>
	 <body class="claro">
	 <div id="loadingOverlay" class="loadingOverlay pageOverlay" style="display: block;"><div class="loadingMessage"></div></div>
	 <div data-dojo-id ="disclaimerDialog" data-dojo-type = "dijit.Dialog" title = "Legal Notice" style="display: none">
            <div class="dijitDialogPaneContentArea">
            <p>
	            {{county}} County online map access is provided as a public service, as is, as available and<br />
	            without warranties, expressed or implied.  Content published on this website is for informational<br />
	            purposes only, and is not intended to constitute a legal record nor should it be substituted<br />
	            for the advice or services of a licensed professional.
				<br />
			</p>
			<p style="margin=5px; padding=5px;">
				Parcel map information is prepared for the inventory of real property<br />
				found within County jurisdiction and is compiled from recorded deeds, plats,<br />
				and other public documents. Users arehereby notified that the aforementioned public record sources<br /> 
				should be consulted for verification of information. With limited exception, data available on this<br /> 
				website originates from {{county}} County Land Records GIS and is maintained for the internal use of<br /> 
				the County. The County of {{county}} and the Website Provider disclaim all responsibility and legal<br /> 
				liability for the content published on this website. The user agrees that {{county}} County and its<br /> 
				Assigns shall be held harmless from all actions, claims, damages or judgments arising out of the<br /> 
				use of County data.
			</p>
			<br />
            </div>
            <div class ="dijitDialogPaneActionBar">
	            <button data-dojo-type = "dijit.form.Button" type ="submit" tabindex = '10' id = "ok" onClick="disclamerOk();">OK</button>
    		</div>
     </div>
	 <iframe name="printframe" src="" style="height:0px; width:0px;display:none;left:-2px;z-index:0;"></iframe>
	 	<div class="nav">
	 		<img src="images/logo_print.png" class="hor-navbar-logo-lg" alt="Monongalia" />
	 		<h2>{{title}}</h2>
	 		<div class="input-group">
      					<!--input id="searchbar" type="text" class="form-control" placeholder="Search"-->
      				</div>
	 	</div>
	 	<div id="tools-dongle" class="dongle">
	 		<span>
	 			<i class="fa fa-tasks fa-2x"></i> 
	 			
 			</span>
	 	</div>
	 	<div class="notify">
	 		<div id="notification"></div>
	 		<div id="coords"></div>
	 	</div>
	 	<div id="measureDialog" style="display: none">
	 		<div id="measure-panel"></div>
	 	</div>
	 	<main class="content">
	 		<div id="map"></div>
	 		<div id="display-panel" class="side-panel">
	 			<div class="nav-small">
	 				<div id="side-panel-closer">
	 					<i class="fa fa-caret-right fa-3x"></i>
	 				</div>
	 			</div>
	 			<div id="navToolbar" data-dojo-type="dijit.Toolbar" class="toolbar"></div>
	 			<div class="inner-side-panel">
	 				<div data-dojo-type="dijit/layout/TabContainer" style="width: 100%; height: 100%;">
				        <div data-dojo-type="dijit/layout/ContentPane" title="Legend" data-dojo-props="selected:true">
				            <div id="legend-panel" style="width: 100%; height: 100%;"></div>
				        </div>
				        <div data-dojo-type="dijit/layout/ContentPane" title="Search">
				        	<div id="searchTabs" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="tabPosition:'right'" style="width: 100%; height: 100%;">
					        	<div data-dojo-type="dijit/layout/ContentPane" title="Dist-Map-Par" data-dojo-props="selected:true">
					            	<div id="search-panel" class="search-panel"></div>
					            </div>
				            </div>
				        </div>
				        <div data-dojo-type="dijit/layout/ContentPane" title="Contact" data-dojo-props="tabPosition:'right'">
				            <div id="contact-panel" style="width: 100%; height: 100%;">
				            	<p>
					            	Michael A. Paugh CFM, GISP<br />
									Monongalia County Floodplain Administrator/<br />G.I.S. Coordinator<br />
									82 Hart Field Rd. Suite 105<br />
									Morgantown, WV 26505<br />
									Email: <a href="mailto:mike@moncpc.org">mike@moncpc.org</a><br />
									Office: (304) 413-0291<br />
					            </p>
				            </div>
				        </div>
						<div data-dojo-type="dijit/layout/ContentPane" title="Map Card Search" data-dojo-props="tabPosition:'right'">
							<div id="card-link-panel" style="width: 100%; height: 100%">
								<p>
									<a href="http://assessor.org/2204/Parcel-Database-Archives" target="_blank">Map Card Search</a>
								</p>
							</div>
						</div>
			    	</div>
	 			</div>
	 		</div>
	 		<div class="clearer"></div>
	 	</main>
	 	<script>
			var npath = '/agd';
		 	if(location.pathname != '/') {
				 npath = location.pathname.replace(/\/[^/]+$/, '') + '/agd';
			 }
			var dojoConfig = {
				parseOnLoad: false, 
				paths: {
				    agd: npath
				}
			};
        </script>
	    {{#js}}
    	<script src="{{{.}}}"></script>
	    {{/js}}
	    <script>
	        dojo.ready(function(){
	            

	            disclaimerDialog.show();
	        });

	        function disclamerOk(){
	        	var overlay = document.getElementById("loadingOverlay");
	            overlay.parentNode.removeChild(overlay);
	            disclaimerDialog.hide();
	        }
    	</script>
    	<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', '{{google}}', 'auto');
		  ga('send', 'pageview');

		</script>   
	 </body>
 </html>